/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.field-unit--nested-has-many .nested-fields {
  border: solid 1px #dfe0e1;
  padding: 1.5em;
}

.field-unit--nested-custom-label {
  float: left;
  margin-left: 1rem;
  text-align: right;
  width: calc(15% - 1rem);
  margin-bottom: 1rem;
}

.no-bottom-margin {
  margin-bottom: 0
}
